<html>
<head>
  <title>HTrak</title>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="app.js"></script>
  <style> .glyphicon-thumbs-up { cursor:pointer } </style>
</head>

<body ng-app="HTrak" ng-controller="MainCtrl">

  <div >
    

      <div >
        <h1>HTrak  {{profile.email}}
          <a href="" ng-click="showTab('day')">day</a>
          <a href="" ng-click="showTab('detail')">detail</a>
          <a href="" ng-click="showTab('profile')">profile</a>
        </h1>
      </div>
   
  </div>


<div id="day" ng-include="'day.html'" ng-show="currTab == 'day'" ng-hide="currTab != 'day'" >
</div>
    
<div id = "profile" ng-include="'profile.html'" ng-show="currTab == 'profile'" ng-hide="currTab != 'profile'">
</div>

<div id = "detail" ng-include="'detail.html'" ng-show="currTab == 'detail'" ng-hide="currTab != 'detail'">
</div>

</body>
</html>


